.theme-switch {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
  }
  
  .theme-switch:hover {
    color: var(--title-color-dark);
  }
  
  .theme-switch__text {
    margin-left: 0.5rem;
  }
  
  .nav__icon {
    font-size: 1.2rem;
  }