.theme-switch {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--h3-font-size);
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: 0.3s;
  }
  
  .theme-switch:hover {
    color: var(--title-color-dark);
  }
  
  .theme-switch i {
    font-size: 1.25rem;
  }